<a href="https://colab.research.google.com/github/sowbaranigakps-04/Predicting-Employee-Attrition-in-a-Corporate-Organization-Machine-Learning/blob/main/Employee_Attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/employee_attrition_dataset.csv')

In [ ]:
df

,EmployeeID,Age,Gender,MaritalStatus,Education,Department,JobRole,YearsAtCompany,YearsInCurrentRole,MonthlyIncome,JobSatisfaction,WorkLifeBalance,TrainingTimesLastYear,OverTime,DistanceFromHome,Attrition
0,1,54,Male,Single,PhD,Sales,Analyst,17,12,19618.16,2,3,3,No,27.77,No
1,2,47,Male,Married,Master,Finance,Technician,32,7,7958.49,4,2,9,No,43.56,No
2,3,41,Female,Married,Master,Sales,Manager,37,7,10839.85,3,2,2,Yes,25.76,Yes
3,4,29,Male,Divorced,High School,IT,Manager,3,18,14488.44,5,2,4,Yes,25.11,Yes
4,5,37,Female,Divorced,High School,IT,Developer,25,12,9591.07,3,1,7,No,2.87,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,60,Male,Married,Bachelor,Finance,Analyst,12,17,3584.92,4,5,0,Yes,28.54,Yes
4996,4997,29,Male,Divorced,High School,Finance,Developer,23,14,8898.45,3,2,3,No,47.10,No
4997,4998,37,Male,Divorced,PhD,IT,Sales Executive,28,14,9408.65,1,3,6,No,43.61,No
4998,4999,38,Male,Married,Bachelor,IT,Sales Executive,12,8,13497.24,4,4,2,No,30.48,No
4999,5000,26,Male,Single,High School,R&D,Sales Executive,2,18,15394.57,5,2,5,Yes,24.50,Yes

In [ ]:
df.drop('EmployeeID',axis=1,inplace=True)
df.drop('Education',axis=1,inplace=True)

In [ ]:
df

,Age,Gender,MaritalStatus,Department,JobRole,YearsAtCompany,YearsInCurrentRole,MonthlyIncome,JobSatisfaction,WorkLifeBalance,TrainingTimesLastYear,OverTime,DistanceFromHome,Attrition
0,54,Male,Single,Sales,Analyst,17,12,19618.16,2,3,3,No,27.77,No
1,47,Male,Married,Finance,Technician,32,7,7958.49,4,2,9,No,43.56,No
2,41,Female,Married,Sales,Manager,37,7,10839.85,3,2,2,Yes,25.76,Yes
3,29,Male,Divorced,IT,Manager,3,18,14488.44,5,2,4,Yes,25.11,Yes
4,37,Female,Divorced,IT,Developer,25,12,9591.07,3,1,7,No,2.87,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,60,Male,Married,Finance,Analyst,12,17,3584.92,4,5,0,Yes,28.54,Yes
4996,29,Male,Divorced,Finance,Developer,23,14,8898.45,3,2,3,No,47.10,No
4997,37,Male,Divorced,IT,Sales Executive,28,14,9408.65,1,3,6,No,43.61,No
4998,38,Male,Married,IT,Sales Executive,12,8,13497.24,4,4,2,No,30.48,No
4999,26,Male,Single,R&D,Sales Executive,2,18,15394.57,5,2,5,Yes,24.50,Yes

In [ ]:
df.isnull().any()

Age                      False
Gender                   False
MaritalStatus            False
Department               False
JobRole                  False
YearsAtCompany           False
YearsInCurrentRole       False
MonthlyIncome            False
JobSatisfaction          False
WorkLifeBalance          False
TrainingTimesLastYear    False
OverTime                 False
DistanceFromHome         False
Attrition                False
dtype: bool

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [ ]:
df.Gender=le.fit_transform(df.Gender)
df.MaritalStatus=le.fit_transform(df.MaritalStatus)
df.Department=le.fit_transform(df.Department)
df.JobRole=le.fit_transform(df.JobRole)
df.OverTime=le.fit_transform(df.OverTime)

In [ ]:
df.Attrition=le.fit_transform(df.Attrition)

In [ ]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler
ats=['Age','MonthlyIncome', 'DistanceFromHome']
min_max_scaler = MinMaxScaler()
df[ats] = min_max_scaler.fit_transform(df[ats])

In [ ]:
df

,Age,Gender,MaritalStatus,Department,JobRole,YearsAtCompany,YearsInCurrentRole,MonthlyIncome,JobSatisfaction,WorkLifeBalance,TrainingTimesLastYear,OverTime,DistanceFromHome,Attrition
0,0.761905,1,2,4,0,17,12,0.978914,2,3,3,0,0.546253,0
1,0.595238,1,1,0,4,32,7,0.330954,4,2,9,0,0.868695,0
2,0.452381,0,1,4,2,37,7,0.491079,3,2,2,1,0.505207,1
3,0.166667,1,0,2,2,3,18,0.693842,5,2,4,1,0.491934,1
4,0.357143,0,0,2,1,25,12,0.421681,3,1,7,0,0.037778,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0.904762,1,1,0,0,12,17,0.087903,4,5,0,1,0.561977,1
4996,0.166667,1,0,0,1,23,14,0.383191,3,2,3,0,0.940984,0
4997,0.357143,1,0,2,3,28,14,0.411544,1,3,6,0,0.869716,0
4998,0.380952,1,1,2,3,12,8,0.638758,4,4,2,0,0.601593,0
4999,0.095238,1,2,3,3,2,18,0.744198,5,2,5,1,0.479477,1

In [ ]:
df.YearsAtCompany.max()

39

In [ ]:
X=df.iloc[:,:14]
y=df.iloc[:,-1]
y

0       0
1       0
2       1
3       1
4       1
       ..
4995    1
4996    0
4997    0
4998    0
4999    1
Name: Attrition, Length: 5000, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 25,random_state = 46)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=7)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
acc_knn = round(accuracy_score(y_pred,y_test), 2) * 100
print("Accuracy :" ,acc_knn)

Accuracy : 60.0

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

xgb = XGBClassifier().fit(X_train, y_train)
y_pred = xgb.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {round(accuracy * 100, 2)}%")

Accuracy: 100.0%